.brand img{
    height: 50px;
}
header{
    border-bottom: solid 2px #fac939;
}
.menu .item:hover{
    color: #033770;
    background-color: #fac939;
}
.dropdown.usermenu li{
    background-color: #033770;
    color: #fac939;
}
.dropdown.usermenu li a{
    line-height: normal !important;
}
table tbody tr:nth-child(odd){
    background-color: #f8f8f8;
}
input{
    min-height: 22.5px;
}
.object-title h1 {
    line-height: 2;
}
.group > div > a{
    color: #bd9c36 !important;
}
